@import "tailwindcss";
:root {
  --background: #dbe9f3;
  --foreground: #053b5e;
  --foreground-transparent: #b2cbdd;
  --secondary: #e9e9e9;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



html,
body {
  max-width: 100vw;
	height: 100%;
  overflow-x: hidden;
  font-size: larger;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

form{
  background: var(--foreground-transparent);
    backdrop-filter: blur(10px);

  padding: 20px;
  border-radius: 5px;
  
}

.nav-lateral{
  background-color: var(--foreground-transparent);
  color: var(--secondary);
  height: 100%;
}

.portada {
  background-image: url(../../public/fondo2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 60vh;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: clamp(1.8rem, 4vw, 3rem);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.portada::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* o rgba(33,33,33,0.5) */
  z-index: 0;
}

.portada button {
  background-color: #d4af37;
  color: white;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s;
}

.portada button:hover {
  transform: scale(1.05);
  background-color: #c49b2e;
}
.portada h1 {
  color: var(--secondary) !important;
  font-size: 70;
  animation: fadeInUp 1s ease-out forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
